{% extends 'layout.html' %}
{% block body %}

<div id="app" class="col-md-12">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h2>{% trans %}Send SMS with your browser!{% endtrans %}</h2>
        <form>
            <div class="row">
                <div class="col">
                    <label for="telinput" class="form-label">To</label><br />
                    <input type="tel" name="telinput" id="telinput" v-model="phone" />
                    <button class="btn btn-primary" :disabled="!isPhoneValid" v-on:click="addPhone">{% trans %}Add{% endtrans %}</button><br />
                    <div class="form-text">{% trans %}Add one or more phone number as destination{% endtrans %}</div>
                </div>
                <div class="col">
                    <label for="from" class="form-label">{% trans %}From{% endtrans %}</label>
                    <input type="text" readonly class="form-control-plaintext" v-model="sender">
                </div>
            </div>
            <div class="mb-3">
                <ul class="list-group">
                    <li class="list-group-item" v-for="item in recipients">
                        {% raw %}{{item}}{% endraw %}
                        <button type="button" class="btn btn-link btn-sm" v-on:click="removePhone($event,item)"><i
                                class="far fa-trash-alt"></i></button>
                    </li>
                </ul>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">{% trans %}Message{% endtrans %}</label>
                <textarea class="form-control" id="message" placeholder="Send message" v-model="message"></textarea>
                <div class="form-text">{% raw %}{{nbChars}}{% endraw %} {% trans %}chars in{% endtrans %} {% raw %}{{nbSms}}{% endraw %} {% trans %}sms{% endtrans %}</div>
            </div>

            <div class="col-auto">
                <button class="btn btn-primary" :disabled="!isFormValid" v-on:click="sendText">{% trans %}Send{% endtrans %}</button>
                <span class="form-text" v-text="status" v-if="status!=''"></span>
                <span class="text-danger" v-text="error" v-if="error!=''"></span>
            </div>

        </form>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            sender: '',
            phone: '',
            recipients: [],
            message: '',
            status: '',
            error: ''
        },
        computed: {
            isPhoneValid: function () {
                return this.phone != '' && iti && iti.isValidNumber();
            },
            isFormValid: function () {
                return this.recipients.length > 0 && this.message.length > 0
            },
            nbChars: function () {
                return this.message.length;
            },
            nbSms: function () {
                return Math.ceil(this.message.length / 160);
            }
        },
        methods: {
            addPhone: function (event) {
                if (event) {
                    event.preventDefault();
                }
                this.recipients.push(iti.getNumber());
                this.phone = '';
            },
            removePhone: function (event, phone) {
                event.preventDefault();
                var index = this.recipients.indexOf(phone);
                if (index !== -1) {
                    this.recipients.splice(index, 1);
                }
            },
            sendText: function (event) {
                event.preventDefault();
                var data = { message: this.message, recipients: this.recipients };
                this.status = '{% trans %}Sending message...{% endtrans %}';
                this.error = '';
                axios
                    .post('/send', data)
                    .then(response => (this.status = '{% trans %}Message sent !{% endtrans %}'))
                    .catch(err => {
                        this.status = '';
                        this.error = err.response.data;
                    })
            }
        },
        mounted: function () {
            /* get phone number from local storage */
            if (localStorage.recipients) {
                try {
                    this.recipients = JSON.parse(localStorage.recipients);
                } catch (e) {
                    localStorage.removeItem('recipients');
                }
            }
            /* load sender */
            axios
                .get('/sender')
                .then(response => (this.sender = response.data))
        },
        watch: {
            recipients: function (newValue) {
                localStorage.recipients = JSON.stringify(newValue);
            }
        }
    })
    /* Initialize the telephone number widget */
    var input = document.querySelector("#telinput");
    var iti = intlTelInput(input, {
        preferredCountries: ['ca', 'ch', 'de', 'li', 'it', 'fr'],
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.13/build/js/utils.min.js",
    });
</script>
{% endblock %}