<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.15.4/css/all.css"
        crossorigin="anonymous" />

    <link href="https://cdn.jsdelivr.net/npm/intl-tel-input@17.0.13/build/css/intlTelInput.min.css" rel="stylesheet"
        crossorigin="anonymous">



    <title>{% if title %}{{ title }} - {% endif %}{{header_name}}</title>
</head>

<body>
    <main>
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <i class="far fa-comments"></i>&nbsp;<span class="fs-4">{{header_name|capitalize}}</span>
                </a>
            </header>
            {% block body %}
            {% endblock %}
            <footer class="pt-3 mt-4 text-muted border-top text-center small">
                {% trans %}Powered by {% endtrans %} <a href="{{footer_url}}">{{footer_name}}</a> © 2021
            </footer>
        </div>
    </main>
</body>
<!-- Bootstrap Bundle with Popper -->
<script src="//cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
<!-- Telephone Input -->
<script src="//cdn.jsdelivr.net/npm/intl-tel-input@17.0.13/build/js/intlTelInput.min.js"></script>
<!-- vuejs -->
<script src="//cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- axios -->
<script src="//cdn.jsdelivr.net/npm/axios@0.21.4/dist/axios.min.js"></script>
{% block script %}
{% endblock %}

</html>